<h1><%= author.name %></h1>
<p><%= author.bio %></p>
<%= link_to 'Edit', edit_author_path(author) %>
<%= link_to 'Delete', author_path(author), method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Books</h2>
<%= link_to 'New Book', new_author_book_path(author) %>
<ul>
  <% author.books.each do |book| %>
    <li>
      <%= link_to book.title, author_book_path(author, book) %>
    </li>
  <% end %>
</ul>
